@charset "utf-8";

html{
  font-size: 100%;
}
body{
  color: #2B3137;
  background-color:#c8def3d3;
}
img{
  max-width: 100%;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #2B3137;
}
.wrapper{
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}
.site-title{
  line-height: 1px;
}
.site-title a{
  display: block;
}
.sec-title{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

#header{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}
#header nav ul{
  display: flex;
  padding: 10px 0;
}
#header nav ul li{
  font-size: 0.9rem;
  margin-left: 30px;
}
#header li a{
  color: #24292e;
}
#header li a:hover{
  opacity: 0.7;
}
#header img.icon{
  width: 20px;
}

/* 
mainvisual
*/
#mainvisual{
  margin-bottom: 80px;
}
#mainvisual img{
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

/* 
About
*/
#about ul{
  display: block;
  margin-bottom: 30px;
}
#about li:first-child{
  margin-bottom: 30px;
}
#about p{
  text-align: justify;
}

/* 
Works
*/
#works ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#works li{
  width: 31%;
  margin-bottom: 23px;
  text-align: center;
  height: 175px;
}
#works li img{
  object-fit: cover;
  max-height: 100%;
}

/* 
News
*/
#news dl{
  /* display: flex; */
  /* flex-wrap: wrap; */
  border-top: solid 1px #C8C8C8;
}
#news dt{
  width: 20%;
  float: left;
}
#news dt, #news dd{
  border-bottom: solid 1px #C8C8C8;
  line-height: 3;
}
/* #news dd{
  width: 80%;
} */

/* Contact */
#contact dl{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
#contact dd, #contact dt{
  /* line-height: 3; */
  margin-bottom: 15px;
}

#contact dd{
  border: solid 1px #C8C8C8;
  width: 85%;
}
#contact dt{
  width: 15%;
}
/* #contact dd:last-child,
#contact dt:last-child{
  margin-bottom: 0;
} */
#contact dd input, #contact textarea{
  width: 100%;
  /* padding: 10px; */
}
#contact dd textarea{
  height: 10rem;
}
.button{
  text-align: center;
}
.button input{
  background-color: #000;
  border: solid 1px #000;
  color: #fff;
  padding: 17px 85px;
}
.button input:hover{
  background-color: #fff;
  color:#000;
}

/* 
footer
*/
#footer{
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 0.85rem;
}
#footer p{
  padding:10px 0;
}

@media screen and (max-width:600px) {
  .wrapper{
    margin-bottom: 40px;
  }
  .site-title{
    margin-top: 20px;
  }
  .sec-title{
    margin-bottom: 70px;
  }

  #header{
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  #header li:first-child{
    margin-left: 0;
  }
  
  #works ul{
    flex-direction: column;
  }
  #works li{
    width: 100%;
    height: auto;
  }

  #news dt, #news dd{
    line-height: 1;
  }
  #news dt{
    border: none;
    padding-top: 15px;
  }
  #news dd{
    clear: both;
    padding-bottom: 15px;
  }

  #contact dl{
    flex-direction: column;
  }
  #contact dt{
    margin-bottom: 0;
  }
}
